<html>

<head>
	<title>Leverj | My Assets</title>
	<meta name="description" content="Decentralized Leveraged Exchange">
	<meta property="og:title" content="Leverj.io: Decentralized Leveraged Exchange">
	<meta property="og:url" content="https://live.leverj.io">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="leverj.io">
	<meta property="og:image" content="https://leverj.io/images/favicon/mstile-150x150.png">
	<meta property="twitter:site" content="@leverj_io">
	<meta property="twitter:img:src" content="https://leverj.io/images/favicon/mstile-150x150.png">
	<meta property="og:description" content="Decentralized Leveraged Exchange">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport"
		content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width">
	<meta name="keywords" content="">
	<meta name="copyright" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="dns-prefetch" href="//live.leverj.io">
	<link rel="dns-prefetch" href="//api.coinbase.com">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" id="leverjmincss" href="https://dev.leverj.io/leverj.min.css?rel=85e7c05f9d">
	<link rel="stylesheet" type="text/css" id="vue_assets_css" href="vue_my_assets.css">
</head>

<body class="darkTBg">

	<div id="myAssetsContainer" class="">
		<div class="sidebar">
			<div class="heading">
				<h2>My Assets</h2>
				<div>Total Portfolio Valuation</div>
				<span id="portfolioBalance">{{total_portfolio_valuation}}</span>
			</div>
			<div class="wallets">
				<div class="wallet">
					<h4><span class="icon icon-wallet"></span>My Wallet</h4>
					<div>
						<small>Value of all coins</small>
					</div>
					<span class="balance" id="walletBalance">{{ether_wallet_coins}}</span>
				</div>
				<div class="wallet">
					<h4><span class="icon icon-plasma"></span>Gluon Plasma Sidechain</h4>
					<div>
						<small>Value of all coins</small>
					</div>
					<span class="balance" id="plasmaBalance">{{plasma_wallet_coins}}</span>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="close">
				<i class="icon icon-close"></i>
			</div>
			<div class="main-header">
				<div class="switcher">
					<div class="switch">
						<input type="radio" class="switch-input" name="view" value="funds" id="switch-funds" checked="">
						<label for="switch-funds" class="switch-label switch-label-off">Funds</label>
						<input type="radio" class="switch-input" name="view" value="transactions"
							id="switch-transactions">
						<label for="switch-transactions" class="switch-label switch-label-on">Transactions</label>
						<span class="switch-selection"></span>
					</div>

					<br /> <br /> <br />
					<table id="myPortfolioFunds" cellpadding="0" cellspacing="0" border="0" class="cw">
						<thead>
							<tr>
								<th>
									<table cellpadding="0" cellspacing="0" border="0" class="cw">
										<thead>
											<tr>
												<th class="rline w30 al" colspan="2">
													<div class="wallet">
														<span>Main Chain</span>
														<h4>
															<span class="icon icon-wallet"></span>
															My Wallet
														</h4>
														<br>
													</div>
												</th>
												<th class="w70 secondary p25" colspan="4">
													<div class="wallet">
														<span>Sidechain</span>
														<h4>
															<span class="icon icon-plasma"></span>
															Gluon Plasma
														</h4>
														<br>
													</div>
												</th>
											</tr>
										</thead>
										<tr class="h40">
											<td class="w15">Asset</td>
											<td class="w15 rline ar pr25">Balance</td>
											<td class="ar w18">Balance</td>
											<td class="ar w18">In Orders</td>
											<td class="ar w18">Available</td>
											<td class="ar w18 pr25">Manage Funds</td>
										</tr>
									</table>

								</th>
							</tr>
						</thead>
						<template v-for="(asset_fund, index) in asset_funds" v-bind:key="index">
							<tr class="rc0">

								<td>
									<table cellpadding="0" cellspacing="0" border="0" class="cw f15">
										<thead>
											<tr style="height:50px;">
												<th class="al w15">
													<div class="ic"><img src="d.png" width="16px" height="28px"></div>
													<div style="display:inline-block;">
														{{asset_fund.symbol}} <br>{{asset_fund.assetName}}
													</div>
												</th>
												<th class="rline w15 ar pr25 ">
													{{asset_fund.assetHeader.myWalletBalance}} <br><span
														class="value">${{asset_fund.assetHeader.myWalletBalance_USD}}</span>
												</th>

												<th class="ar w18"> {{asset_fund.assetHeader.plasmaBalance}}<br><span
														class="value">${{asset_fund.assetHeader.plasmaBalance_USD}}</span>
												</th>

												<th class="ar w18">{{asset_fund.assetHeader.plasmaOrders}}
													<br><span
														class="value">${{asset_fund.assetHeader.plasmaOrders_USD}}</span>
												</th>

												<th class="ar w18"> {{asset_fund.assetHeader.plasmaAvailable }}<br><span
														class="value">${{asset_fund.assetHeader.plasmaAvailable_USD}}</span>
												</th>

												<th class="ac w18">
													<img src="plus.png" height="24px" width="24px"
														v-bind:addFunds="asset_fund.symbol">&nbsp;&nbsp;
													<img src="minus.png" height="24px" width="24px"
														v-bind:releaseFunds="asset_fund.symbol">
												</th>
											</tr>
										</thead>
										<tr class="flight" v-bind:id="'inFlightHeader_' + asset_fund.symbol">
											<td class="em">
												<div class="ic inFlightHeaderExpanded" v-bind:data-symbol="asset_fund.symbol"></div>
												IN FLIGHT
											</td>
											<td class="rline ar pr25">{{asset_fund.inFlightHeader.myWalletBalance}}</td>
											<td class="ar">{{asset_fund.inFlightHeader.plasmaBalance}}</td>
											<td class="ac"></td>
											<td v-bind:completeWithdrawals="asset_fund.symbol"><a href="#"><span
														class="grn">Complete Withdrawals</span></a></td>
											<td class="ar"> </td>
										</tr>
										<tr v-for="detail in asset_fund.inFlightDetails" class="em inFlightDetails">
											<td v-if="detail.myWalltetStatus === 'Pending'" class="ar"><img
													src="pending1.png" height="12px" width="12px"
													hspace="5px">{{detail.myWalltetStatus}}</td>
											<td v-if="detail.myWalltetStatus === 'Pending'" class="rline ar pr25">
												{{detail.myWalletBalance}}</td>


											<td v-if="detail.myWalltetStatus === ''"> </td>
											<td v-if="detail.myWalltetStatus === ''" class="rline"> </td>

											<td class="ar">{{detail.plasmaBalance}}</td>
											<td v-if="detail.plasmaStatus === 'Pending'"><img src="pending1.png"
													height="12px" width="12px" hspace="5px">{{detail.plasmaStatus}}</td>

											<td v-if="detail.plasmaStatus === 'Ready'"><img src="ready.png"
													height="12px" width="12px" hspace="5px">{{detail.plasmaStatus}}</td>

											<td v-if="detail.plasmaStatus === 'Ready'" v-bind:logId="detail.logId"><a
													href="#"><span class="grn">Complete Withdrawal</span></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</template>
					</table>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="vue_my_assets.js"></script>
</body>

</html>